@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100');

body{
    /* box-shadow: 0 0 10px; */
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 100%;
    /* width: 80%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-block-start: 0;
    margin-block-end: 0;
}
.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1.4px solid;
    /* box-shadow: -3px 0px 20px 20px; */
    padding-bottom: 10px;
}

.content-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #3B3B3B;
}

.content-info-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    padding-left: 20px;
}

.content-info-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 600px;
    padding-right: 20px;
}

.content-info-right-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-info-left-email {
    width: 100%;
    display: flex;
    justify-content: center;
}

a {
    font-weight: 100;
}

.content-info-left-email a {
    color: white;
    font-size: 12px;
    letter-spacing: .5px;
    text-decoration: none;
}

.content-info-left-number {
    width: 100%;
    display: flex;
    justify-content: center;
}

i.fas.fa-envelope {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: white;
    font-size: 20px;
}

.content-info-left-number a {
    text-decoration: none;
    color: white;
    letter-spacing: .5px;
    font-size: 12px;
}

.content-info-right-time {
    display: flex;
    justify-content: flex-end;
    color: white;
    letter-spacing: 0.5px;
    padding-right: 20px;
    width: 100%;
    font-size: 12px;
}

.content-info-right-social {
    display: flex;
    width: 100px;
}

i.fab.fa-vk {
    color: white;
}

i.fab.fa-facebook {
    color: white;
}

i.fab.fa-twitter {
    color: white;
}

i.fab.fa-instagram {
    color: white;
}

nav {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 3px 0px 0px 0px;
    justify-content: center;
}

.nav-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    padding: 0px 15px 0px 0px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    width: 75%;
    height: 30px;
}

.menu-item {
    width: 100%;
    background: rgb(59, 59, 59);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    /* border: 1px solid; */
    /* margin: 0px 4px 0px 6px; */
    /* padding: 0px 11px 0px 9px; */
    font-size: 12px;
    /* letter-spacing: 0.3px; */
    box-shadow: 0 0 5px rgb(59, 59, 59);
    margin: 0px 5px 0px 5px;
}

.menu-item a {
    color: white;
    text-decoration: none;
    /* font-weight: bold; */
}

.main {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* padding-top: 450px; */
    /* background-image: url(http://orchidnails.ru/wp-content/uploads/2017/12/slidephoto1.jpg); */
    /* background-position: top; */
    /* background-repeat: no-repeat; */
}

.top-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 450px; */
    /* background-image: url(http://orchidnails.ru/wp-content/uploads/2017/12/slidephoto1.jpg); */
    /* background-position: center; */
    width: 100%;
    /* height: 100%; */
    /* visibility: inherit; */
    /* border: 1px solid; */
    box-shadow: 0 0 30px rgb(102, 102, 102);
    border-radius: 20px;
    padding: 20px;
    z-index: 2;
    position: relative;
}

.top-main-text-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 5px 5px 5px 5px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 32px;
    margin: 25px 0px 25px 0px;
    letter-spacing: 8px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0,0,0,0.7);
}

.top-main-text-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 600px; */
    /* height: 35px; */
    padding: 1px 10px 1px 10px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 15px;
    margin: 5px 0px 20px 0px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.nav {
    display: flex;
    justify-content: space-between;
    margin: 12px 12px 12px 12px;
    padding: 12px 20px 12px 12px;
    /* margin-left: 80px; */
    /* margin-right: 80px; */
    box-shadow: 0 0 10px;
    border-radius: 10px;
    align-items: center;
}

.nav-logo img {
    /* width: 100%; */
}
.middle-main {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 50px; */
    margin: 25px 0px 25px 0px;
    /* border: 1px solid; */
}

.middle-main-text-1 {
    display: flex;
    width: 50%;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 25px rgb(102, 102, 102);
    text-align: center;
    margin: 30px 0px 15px 0px;
}

.middle-main-text-1 p {
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #2D2C40;
}

.middle-main-text-2 p {
    display: flex;
    justify-content: center;
    color: #2D2C40;
    text-align: center;
    letter-spacing: 0.7px;
    font-size: 15px;
}

.middle-main-text-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.middle-main-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}
.menu-item {
    /* text-align: center; */
    /* font-family: Montserrat; */
}
.bottom-main {
    display: flex;
    justify-content: center;
    align-items: initial;
    width: 85%;
    margin: 25px 0px 25px 0px;
}

.bottom-main-block {
    display: flex;
    width: calc(80%/4);
    flex-direction: column;
    margin: 25px 15px 25px 15px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.bottom-main i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    width: 100%;
    height: 150px;
}

.bottom-main-block-title {
    letter-spacing: 0.8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-align: center;
    height: 50px;
    /* width: 100%; */
    margin: 10px 20px 10px 20px;
    font-weight: bold;
    border: 0.7px solid;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.bottom-main p {
    text-align: center;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
    font-size: 11px;
    /* padding: 10px 10px 10px 10px; */
    /* justify-content: flex-start; */
    /* align-items: center; */
    /* margin-block-start: 0; */
    /* margin-block-end: 0; */
    margin-inline-start: 50px;
    margin-inline-end: 50px;
}

.main-img {
    /* border-radius: 10px; */
    /* box-shadow: 0px -10px 20px 6px rgba(0,0,0,0.5); */
    display: flex;
    border: 1.4px solid;
    /* z-index: 1; */
    width: 100%;
}

.main-img img {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 10px;
}

header {
    width: 100%;
    display: flex;
}

main.main p {
    /* color: black; */
    margin-block-end: 0;
    margin-block-start: 0;
    font-weight: 600;
}

.middle-main-img-border-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1.4px solid #C1BFDA;
    width: 20%;
}

.middle-main-img-border-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-top: 1.4px solid #C1BFDA;
    width: 20%;
}

.middle-main-img img {
    padding: 20px;
}

.menu-item a {
    text-align: center;
}

.menu-item span {
    text-align: center;
    width: 100%;
    /* font-weight: bold; */
    /* font-family: monospace; */
}

.bottom-main-block p {
    margin: 10px 15px 15px 15px;
}

.main-price {
    background-color: #F6F6F8;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 50px 0px 50px 0px;
}

.main-price-text {
    display: flex;
    width: 50%;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 25px rgb(102, 102, 102);
    text-align: center;
}

.main-price-text p {
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #2D2C40;
}

.main-price-nav {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 25px;
}

.main-price-nav-item {
    background-color: white;
    display: flex;
    flex-grow: 1;
    height: 45px;
    align-items: center;
    justify-content: center;
    margin: 0px 2px 0px 2px;
}

.main-price-nav-item a {
    text-decoration: none;
    color: #1840d2;
}

.main-price-info {
    display: flex;
    /* justify-content: space-around; */
    width: 85%;
}

.main-price-info-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.main-price-info-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 40px;
}

.main-price-info-img img {
    /* width: 85%; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.main-price-info-text p {
    font-size: 35px;
    letter-spacing: 1.5px;
    color: #2D2C40;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    box-shadow: 0 0 25px rgb(102, 102, 102);
}

.main-price-info-text-price {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-price-info-text-price-service {
    display: flex;
    justify-content: space-between;
    color: #7a7992;
    padding: 30px 0px 0px 0px;
    font-weight: bold;
    border-bottom: dashed 0.5px #7a7992;
}

.main-price-info-text-price-service:after {
}

.main-price-info-text-price-name {font-weight: bold;}

.main-price-info-text-price-cost {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.main-price-info-text-button {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.main-price-info-text-button-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 55px;
    background-color: #1B1B1B;
    margin: 30px 0px 0px 0px;
}

.main-price-info-text-button-left a {
    text-decoration: none;
    color: #f6f6f8;
}

.main-price-info-text-button-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 55px;
    border: solid 1px;
    margin: 30px 0px 0px 0px;
}

.main-price-info-text-button-right a {
    text-decoration: none;
    color: black;
}

.main-review {
    display: flex;
    width: 100%;
    padding: 50px 0px 25px 0px;
    background-color: #F6F6F8;
}

.main-review-rigth-img {
    display: flex;
    width: 100%;
}

.main-review-left-img {
    display: flex;
    width: 100%;
}

.main-review-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-review-center p {
    font-size: 35px;
    color: #2D2C40;
}

.main-review-center-text {
    font-size: 12px;
    letter-spacing: 0.8px;
}

.main-review-center-name {
    font-weight: bold;
    padding: 15px 0px 15px 0px;
}

.main-info-nails {
    display: flex;
    width: 100%;
    padding: 25px 0px 25px 0px;
}

.main-info-nails-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.main-info-nails-text p {
    display: flex;
    width: 50%;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 25px rgb(102, 102, 102);
    text-align: center;
    font-size: 35px;
}

.main-info-nails-text-0 {
    display: flex;
    flex-direction: column;
    width: 90%;
    /* text-align: center; */
    color: #585858;
}

.main-info-nails-text-1 {
    padding: 0px 0px 25px 0px;
    letter-spacing: 1px;
    font-size: 14px;
}

.main-info-foto {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main-info-foto p {
    text-align: center;
    font-size: 35px;
    display: flex;
    width: 30%;
    height: 85px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 25px rgb(102, 102, 102);
    text-align: center;
    font-size: 35px;
}

.main-info-call {
    display: flex;
    width: 100%;
    padding: 25px 0px 25px 0px;
}

.main-info-call-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.main-info-call-text p {
    text-align: center;
    font-size: 35px;
    display: flex;
    width: 50%;
    height: 85px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 25px rgb(102, 102, 102);
    text-align: center;
    font-size: 35px;
}

.main-info-call-text-0 {
    text-align: center;
    padding: 0px 30px 15px 30px;
}

.main-info-call-text-button {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main-info-call-text-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 55px;
    background-color: #1B1B1B;
    margin: 25px 0px 0px 0px;
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 900px) {
    .menu{
        display: none;
    }
    .nav-logo{
        align-items: center;
        justify-content: center;
    }
    .nav{
            justify-content: center; 
    }
   
}

@media screen and (max-width: 750px) {
    .content-info-left-email{
        display: none;
    }
    .content-info-right-time{
        display: none;
    }
    .content-info{
        height: 50px;
    }
}

@media screen and (max-width: 580px) {
    .top-main-text-1{
        background: none;
        color: black;
        letter-spacing: 3px;
        width: 90%
    }
    .top-main-text-2 {
        display: none;
        }
    }
    .middle-main-text-1{
        /** width: 90%;
        height: 60px;
        border-radius: 10px;
        color: black;
        letter-spacing: 3px; **/
        display: none;
    }
}